@font-face {
    font-family: "Circular Std";
    src: local("MyFont"), url("../../public/fonts/CircularStd-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: local("MyFont"), url("../../public/fonts/CircularStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: local("MyFont"), url("../../public/fonts/CircularStd-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

:root {
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 24px;

    --font: "Circular Std", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;

    --border-radius-subtle: 4px;
    --border-radius-pill: 30px;

    --site-max-width: 1200px;

    --container-xs: 540;
    --container-sm: 720;
    --container-md: 960;
    --container-lg: 1140;
    --container-xl: 1500;

    --black: #121212;
    --near-black: #181818;
    --dark-grey: #282828;
    --grey: #535353;
    --light-grey: #b3b3b3;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: var(--fz-md);
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.04em;
}

main.pageContainer {
    position: relative;
    top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

a {
    text-decoration: none;
    color: var(--white);

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.sectionContainer {
    padding: var(--spacing-lg) var(--spacing-md);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .search {
        min-width: var(--site-max-width);
        max-width: var(--site-max-width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchInput {
            min-width: 1050px;
        }
    }

    .innerContainer {
        min-width: var(--site-max-width);
        max-width: var(--site-max-width);

        .actorsPageH1,
        .reviewsPageH1,
        .moviesPageH1 {
            text-align: center;
        }

        .actorsPageH2,
        .reviewsPageH2 {
            text-align: center;
            margin: 50px 0;
        }

        .noContentH1 {
            font-size: clamp(1.5rem, 10vw, 4rem);
            text-align: center;
            color: var(--mantine-color-blue-5);
        }

        .sectionTop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .seeAll {
                text-transform: uppercase;
                font-size: var(--fz-md);
                font-weight: 700;
                margin-bottom: var(--spacing-xs);
                color: var(--light-grey);
            }
        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
            grid-gap: var(--spacing-xl);
            justify-items: center;
            max-width: var(--site-max-width);
        }
        // Single Movie page styles
        .movieDetailsContainer {
            display: flex;
            justify-content: flex-start;
            .movieDetailsLeft {
                img.moviePoster {
                    height: 420px;
                    margin-right: 25px;
                }
            }

            .movieDetailsRight {
                .ratingContainer {
                    max-width: 120px;
                }

                h1.movieTitle {
                    margin: 0 0 35px;
                    font-size: clamp(2.5rem, 10vw, 6rem);
                    font-weight: 900;
                    line-height: 1;
                }
                p.movieDescription {
                    font-size: var(--fz-lg);
                    margin-bottom: 10px;
                    min-width: 100%;
                    font-weight: 400;
                    margin: 35px 0;
                }

                p.movieCost,
                p.movieYear {
                    font-size: var(--fz-md);
                    margin-bottom: 10px;
                    min-width: 100%;
                    font-weight: 400;
                    margin: 25px 0;

                    span {
                        color: var(--light-grey);
                        font-size: var(--fz-sm);
                        margin-right: 10px;
                    }
                }
            }
        }

        .movieReviewsContainer {
            .movieReviewForm {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                margin: 0 auto 50px;

                .movieReviewFormWidth {
                    max-width: 800px;
                    width: 100%;
                }
            }
        }

        // Single Actor page styles
        .actorDetailsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            img.actorImg {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                object-fit: cover;
            }

            .actorContainer {
                width: 100%;

                .actorProfile {
                    margin: 25px 0;
                    font-size: var(--fz-sm);
                    color: var(--light-grey);
                }

                h1.actorName {
                    font-size: clamp(2.5rem, 10vw, 6rem);
                    font-weight: 900;
                }

                .actorDetails {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0 10px;

                    p.spanAge,
                    p.spanGender {
                        font-size: var(--fz-xxl);
                        color: var(--mantine-color-blue-5);
                        margin: 0;
                    }

                    p.spanLabel {
                        font-size: var(--fz-sm);
                        color: var(--light-grey);
                        margin: 0;
                    }
                }
            }
        }
    }
}
