.reviewCardContainer {
    background-color: var(--dark-grey);
    border-radius: var(--border-radius-subtle);
    transition: background-color 0.2s ease 0s;
    padding: 5px 15px;
    h4 {
        margin: 15px 0;
        font-size: var(--fz-xl);
        text-align: center;
    }

    .reviewTop {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .reviewBottom {
        p.review {
            font-size: var(--fz-sm);
            margin-bottom: 10px;
            text-align: justify;
            min-width: 100%;
        }

        h3 {
            font-size: var(--fz-sm);
            span {
                color: var(--light-grey);
                font-size: var(--fz-xs);
                margin-right: 10px;
            }
        }
    }
}
